/*
Colors used:
Dark background: #2b6777
Light background: #c8d8e4
Grey backgrounds: #f2f2f2
Text on dark background: #ffffff
Text: #183942
highlight/CTA: #52ab98
*/

/* Layout styling */
.container {
  padding: 0 16px;
}

/* section{
  background-color: pink;
} */
* {
  box-sizing:border-box;
  /* border: black thin solid; */
}

body {
  background-color: #f2f2f2;
  font-family: 'bitter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #183942;
}

#mywork .row{
  margin: 24px 0 0 0;
  padding-bottom: 24px;
  border-bottom: #2b6777 solid thin;
}

h1,h2,h3,h4{
  font-family: 'raleway', sans-serif;
  line-height: 1.4;
}
h1{
  font-size: 1.75rem;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
}
h4 {
  font-size: 1.125rem;
  font-weight: 300;
}

img{
  width: 100%;
}
main{
  padding-top: 144px;
  padding-bottom: 32px;
}
/* header styling start */
header {
  background-color: #2b6777;
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 2px -1px 12px 6px rgba(242,242,242,0.25);
  -moz-box-shadow: 2px -1px 12px 6px rgba(242,242,242,0.25);
  box-shadow: 2px -1px 12px 6px rgba(242,242,242,0.25);
}

.logo {
  max-width: 250px;
}
/* navigation styling start */
nav > ul{
  list-style-type: none;
  padding: 0;
}
/* this put nav links in line  */
nav > ul > li {
  display: inline-block;
}
/* NEED TO STYLE VARIOUS STATES */
#mainnav a { 
  padding: 0 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
}


#mainnav a:visited {
/*nav > ul > li > a:visited {*/ 
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
} 
/*this works with the mainnav a hover*/
#mainnav a:hover{
/*nav > ul > li > a:hover {*/
  padding: 0 16px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 300;
  color: yellow;
} 
 
#mainnav a:active {
/* nav > ul > li > a:active { */
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 300;
  color: green;
}
/* header styling stop */

/* hero styling start */
#hero {
  display: inline-block;
  width: 100%;
  background-color: #2b6777;
  color: #ffffff;
  padding: 16px 0;
}

#hero .headshot {
 float: left;
 width: 25%;
 border-radius: 50%; 
 margin: 0 8px 0 16px;
}
#hero .container {
  float: inline-end;
  margin: 0;
  padding: 0 16px 0 16px;
}

#hero h1{
  margin-top: 0;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
}
#hero h2{
  margin: 0;
  padding-top: 4px;
}

#hero p{
  margin-top: 8px;
}
/* hero styling end */


/* footer styling start */

footer {
  background-color: #2b6777;
  color: #ffffff;
  text-align: center;
  width: 100%;  
  padding-top: 8px;
  padding-bottom: 16px;
}

footer h2 {
  margin-top: 16px;
}

/* regular  */
a.telephone{
  color: #52ab98;
  text-decoration: none;
}

a.telephone:visited {
  color: #ffffff;
  text-decoration: underline;
 
}
a.telephone:hover,
a.telephone:focus {
  color: #52ab98;
  text-decoration: underline;
}
a.telephone:active{
  color: #ffffff;
  text-decoration: underline;
} 

#email {
  display: inline-block;
  color:#183942;
  background-color: #52ab98;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  padding: 8px 64px;
}
#email:visited {
  color:#183942;
}
#email a{
  color:#183942;
  text-decoration: none;
}
#email:hover,
#email:focus {
  background-color: #52ab98;
  opacity: .8;
}


#socialmedia > ul {
  list-style-type: none;
  padding: 0;
} 

#socialmedia > ul > li {
  display: inline-block;
  padding: 0 16px;
} 

#socialmedia i {
  color: white;
}

.copyright {
  font-size: .875rem;
}
/* footer styling end */


.button {
  display: inline-block;
  background-color: #c8d8e4;
  font-size: 1.125rem;
  color: #183942;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 12px;
  /* padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; */
  transition: .2s opacity;
}
.button:hover,
.button:focus {
  color: #183942;
  opacity: .8;
  text-decoration: none;
}
.button:active{
  color: #183942;
  text-decoration: none;
}




#resume{
  display: inline-block;
  background-color: #c8d8e4;
  font-size: 1.125rem;
  color: #183942;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 12px;
  /* padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; */
  transition: .2s opacity;
}

#resume:hover,
#resume:focus {
  color: #183942;
  opacity: .8;
  text-decoration: none;
}
#resume:active{
  color: #183942;
  text-decoration: none;
}
/* picture{
  border-radius: 0;
} */

.coverimage picture {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.coverimage img {
  margin-top: 24px;
  border-radius: 4px;
}

