/*
Colors used:
Dark background: #2b6777
Light background: #c8d8e4
Grey backgrounds: #f2f2f2
Text on dark background: #ffffff
Text: #183942
highlight/CTA: #52ab98
*/

body {
  background-color: #f2f2f2;
  font-family: 'bitter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #183942;
}

h1,h2,h3,h4{
  font-family: 'raleway', sans-serif;
  line-height: 1.5;
}
h1{
  font-size: 1.802rem;
  font-weight: 600;
}
h2 {
  font-size: 1.424rem;
  font-weight: 600;
}

h3 {
  font-size: 1.266rem;
  font-weight: 500;
}
h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

img{
  width: 100%;
}

header {
  background-color: #2b6777;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #183942;
}

a:hover,
a:focus {
  color: #52ab98;
  text-decoration: underline;
}
a:active{
  color: #183942;
  text-decoration: none;
}
.button {
  display: inline-block;
  background-color: #c8d8e4;
  font-size: 1.125rem;
  color: #183942;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 12px;
  /* padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; */
  transition: .2s opacity;
}
.button:hover,
.button:focus {
  color: #183942;
  opacity: .8;
  text-decoration: none;
}
.button:active{
  color: #183942;
  text-decoration: none;
}

#email {
  display: inline-block;
  color:#183942;
  background-color: #52ab98;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  padding: 8px 32px;
}
#email a{
  color:#183942;
  text-decoration: none;
}
#email:hover,
#email:focus {
  background-color: #52ab98;
  opacity: .8;
}

.socialmedia a,
.socialmedia ul{
  color: black;
  list-style: none;
}

#resume{
  display: inline-block;
  background-color: #c8d8e4;
  font-size: 1.125rem;
  color: #183942;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 12px;
  /* padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px; */
  transition: .2s opacity;
}

#resume:hover,
#resume:focus {
  color: #183942;
  opacity: .8;
  text-decoration: none;
}
#resume:active{
  color: #183942;
  text-decoration: none;
}
