/*
Colors used:
Dark background: #2b6777
Light background: #c8d8e4
Grey backgrounds: #f2f2f2
Text on dark background: #ffffff
Text: #183942
highlight/CTA: #52ab98
*/

/* Layout styling */
.container {
  padding: 0 16px;
}

/* section{
  background-color: pink;
} */
* {
  box-sizing:border-box;
  /* border: black thin solid; */
}

body {
  background-color: #f2f2f2;
  font-family: 'bitter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #183942;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

#mywork .row{
  margin: 24px 0 0 0;
  padding-bottom: 24px;
  border-bottom: #2b6777 solid thin;
}

h1,h2,h3,h4{
  font-family: 'raleway', sans-serif;
  line-height: 1.4;
}
h1{
  font-size: 1.75rem;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}
h4 {
  font-size: 1.125rem;
  font-weight: 300;
}

img{
  width: 100%;
}
main{
  padding-top: 144px;
  padding-bottom: 32px;
}
/* header styling start */
header {
  background-color: #2b6777;
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 2px -1px 12px 6px rgba(242,242,242,0.25);
  -moz-box-shadow: 2px -1px 12px 6px rgba(242,242,242,0.25);
  box-shadow: 2px -1px 12px 6px rgba(242,242,242,0.25);
}

.logo {
  max-width: 250px;
}
/* navigation styling start */
nav > ul{
  list-style-type: none;
  padding: 0;
}
/* this put nav links in line  */
nav > ul > li {
  display: inline-block;
}

#mainnav a { 
  padding: 0 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
}

#mainnav a:visited {
/*nav > ul > li > a:visited {*/ 
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
} 
/*this works with the mainnav a hover*/
#mainnav a:hover,
#mainnav a:focus {
/*nav > ul > li > a:hover {*/
  padding: 0 16px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  color: #ffffff;
} 
 
#mainnav a:active {
/* nav > ul > li > a:active { */
  padding: 0 16px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  color: #183942;
}
/* header styling stop */

/* hero styling start */
#hero {
  background-color: #2b6777;
  color: #ffffff;
  padding: 16px 0;
}

#hero .headshot {
 float: left;
 width: 25%;
 border-radius: 50%; 
 margin: 0 8px 0 16px;
}
#hero .container {
  float: inline-end;
  margin: 0;
  padding: 0 16px 0 16px;
}

#hero h1{
  margin-top: 0;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
}
#hero h2{
  margin: 0;
  padding-top: 4px;
}

#hero p{
  margin-top: 8px;
}
/* hero styling end */






/* footer styling start */
footer {
  background-color: #2b6777;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 100%;  
  padding-top: 8px;
  padding-bottom: 16px;
}

footer h2 {
  margin-top: 16px;
}

/* regular  */
a.telephone{
  color: #52ab98;
  text-decoration: none;
}

a.telephone:visited {
  color: #ffffff;
  text-decoration: underline;
 
}
a.telephone:hover,
a.telephone:focus {
  color: #52ab98;
  text-decoration: underline;
}
a.telephone:active{
  color: #ffffff;
  text-decoration: underline;
} 

#email {
  display: inline-block;
  color:#183942;
  background-color: #52ab98;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  padding: 8px 64px;
}
#email:visited {
  color:#183942;
}
#email a{
  color:#183942;
  text-decoration: none;
}
#email:hover,
#email:focus {
  background-color: #52ab98;
  opacity: .8;
}

#socialmedia > ul {
  list-style-type: none;
  padding: 0;
} 

#socialmedia > ul > li {
  display: inline-block;
  padding: 0 16px;
} 

#socialmedia i {
  color: white;
}

.copyright {
  font-size: .875rem;
}
/* footer styling end */

/*index.html project cover image styling start*/
.coverimage picture {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}
.coverimage img {
  margin-top: 24px;
  border-radius: 4px;
}
/*index.html project cover image styling end*/

/*CSS ANIMATION START*/
#test-animation{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.cloud {
  animation-duration: 10s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(300px,50px);}
}

.schoolbus{
  animation-duration: 15s;
  animation-direction: reverse;
  animation-name: bus-move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes bus-move {
  from {transform: translate(0,50px);}
  to {transform: translate(1000px,50px);}
}

/* View Project buttons on work.html page */
.button{
  display: inline-block;
  text-decoration: none;
  background-color: #c8d8e4;
  color: #183942;
  /* border: 1px solid; */
  padding: 1em 2em;
  font-size: 1.125em;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 12px;
  transition: 0.25s;
}
.button:visited{
  color:#2b6777;
}

.button:hover,
.button:focus {
  border-color: #c8d8e4;
  color:#2b6777;
  text-decoration: underline;
  box-shadow: 0 0.5em 0.5em -0.4em #c8d8e4;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.button:active{
  border-color: #c8d8e4;
  color:#2b6777;
  text-decoration: underline;
  box-shadow: 0 0.5em 0.5em -0.4em #c8d8e4;
  cursor: pointer;
}
/*end styling on project buttons */

/*About Me page styles */
#aboutme h1 {
  margin: 0;
  padding: 16px 0;
  text-align: center;
}

#mystory h2{
  margin: 0;
  padding: 16px 0;
  text-align: center;
}
#mystory p{
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-bottom: 24px;
  text-align: left;
}
/* download resume button states */
#resume{
  display: inline-block;
  text-decoration: none;
  background-color: #c8d8e4;
  color: #183942;
  /* border: 1px solid; */
  padding: 1em 2em;
  font-size: 1.125em;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 12px;
  transition: 0.25s;
}
#resume:visited{
  color: #2b6777;
}
#resume:hover,
#resume:focus {
  text-decoration: none;
  border-color: #c8d8e4;
  color:#2b6777;
  text-decoration: underline;
  box-shadow: 0 0.5em 0.5em -0.4em #c8d8e4;
  transform: translateY(-0.25em);
  cursor: pointer;
}
#resume:active{
  border-color: #c8d8e4;
  color: #183942;
  text-decoration: underline;
  box-shadow: 0 0.5em 0.5em -0.4em #c8d8e4;
  cursor: pointer;
}
/* end download resume button states */

/*skills and tools style start */
#skills h2{
  text-align: center;
 }

 /*skills and tools style end*/

/*Sage Project page style start*/
#sage-project h2{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
}
#sage-project h3{
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding-bottom: 16px;
  font-style: italic;
}
#sage-project p{
  text-align: left;
  margin: 0;
  padding-bottom: 24px;
}

#myrole h3{
  text-decoration: underline;
  font-style: normal;
}

div .image {
  padding-bottom: 16px;
}
/* OLD NAVIGATION ICON STYLES
.navicon{
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

#pagenav .navicon{
  /* height: 32px; 
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  /* width: 15%; 
 
  float: left;
 
}

.navigation-icon {
  font-size: 2rem;
}
.navicon h4{
  margin: 0;
} */

/*new navigation icon styling using ul and li*/


#page-nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
} 

#page-nav > ul > li {
  display: inline-block;
  padding: 0 16px;
} 

#page-nav i {
  color: white;
}

#pagenav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 40px;
}

.icons{
  display: block;
  margin: 0 auto;
}

#page-nav .icons{
  height: 32px; 
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;  
  float: left;
}

.icons h4{
  margin: 0;
  font-size: 1rem;
  padding-right: 16px;
  
}

#nextsteps h3{
  font-style: normal;
}

ol > li > span {
  font-weight: 600;
}

.design-system {
  padding-bottom: 16px;
}

.test-plan {
  padding-bottom: 16px;
}

#problem-solution h3{
  font-style: normal;
}











/* Media Queries */
/* Medium 640px + */
@media only screen and (min-width: 640px){
header {
  text-align: unset;
  padding:24px 24px;
}

nav {
  width: auto;
  float: right;
  margin-top:18px;
}

main{
  padding-top: 124px;
}

body{
  font-size: 18px;
}

.col-md-6{
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding:16px;
}

/*index styles start*/
#hero {
  text-align: center;
}

#hero span{
  display: block;
  margin-top: 8px;
}
/*index styles end*/

/*about styles start*/
#mystory div{
  margin-bottom: 24px;
}
#skills h2{
  margin-bottom: 0;
}


}
/* Large 1024px + */
@media only screen and (min-width: 1024px){
  .col-lg-7 {
    width: 58.33%;
    float: left;
  }

  .col-lg-5 {
    width: 41.66%;
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* XL 1440px+ + */
@media only screen and (min-width: 1440px){
  
}